{% extends 'base.html' %}
{% block title %}{{super()}} - Profile Admin {% endblock %}
{% block content %}
<h1>All Profiles</h1>
<table class="table table-striped" border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Height</th>
        <th>Type</th>
        <th>Pokemon</th>
        <th>Created At</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for profile in profiles %}
    <tr>
        <td>{{ profile.id }}</td>
        <td>{{ profile.name }}</td>
        <td>{{ profile.email}}</td>
        <td>{{ profile.height }}</td>
        <td>{{ profile.type }}</td>
        <td>{{ profile.pokemon }}</td>
        <td>{{ profile.created_at }}</td>
        <td>
            <div>
                <a href="{{url_for('admin_profiles_edit')}}?profileId={{profile.id}}"
                    ><button>Edit</button></a>
            </div>
        </td>
        <td>
            <div>
                <form method="POST" action="{{url_for('admin_profileDeleteButton')}}">
                    <input name="profileId" type="hidden" value="{{profile.id}}" />
                    <button type="submit">Delete</button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>

<nav>
<br><br>
<a href="{{ url_for('admin_profiles_deleteFirst') }}">Remove first</a>
</nav>
<div>
    <form method="POST" action="{{ url_for('admin_profilesDeleteByQuantity')}}">
        <label for="quantity">Delete profiles with guests ≥:</label>
        <input type="number" id="quantity" name="quantity" min="1" required>
        <button type="submit">Delete</button>
    </form>
</div>
<br>        
<a href="{{ url_for('admin_profile_search') }}">
    <button>Search Profiles by Type</button>
</a>
            
{% endblock %}