{% extends "base.html" %}

{% block content %}
<p>My name is Ben and these are my favorite movies</p>
<p><strong>Office Space</strong></p>
<p><strong>Star Wars: Return of the Jedi</strong></p>
<p><strong>The Hangover</strong></p>
<p><strong>Cars</strong></p>
<p><strong>Finding Nemo</strong></p>
<p><strong>Get Out</strong></p>
<p><strong>Hereditary</strong></p>
<p><strong>Christmas Vacation</strong></p>
<p><strong>Elf</strong></p>


<a href="{{ url_for('aboutMe') }}">check out my about me page</a> {% endblock %}
